#company-year-chart {
	max-height: auto !important;
}

#paper-acm-chart {
	max-height: auto !important;
}

.c3-xgrid-focus {
	display: none;
}
.c3-xgrid-line.active text {
	fill: #2196f3;
    font-weight: 700;
    font-size: 12px;
}
.c3-xgrid-line.active line {
	stroke: #2196f3;
}