html,body {
  height:100%;
}
body{
	margin:0;
	padding:0;
}

a:hover{text-decoration: none;}

.container {
	position: absolute;
	top:0; bottom: 0; left: 0; right: 0;
	overflow: hidden;
	background-color: #EEE;
}

.pages {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.pages .page {
	transition: left 1s;
	position: absolute;
	top: 0;
	width: 92%;
	bottom: 72px;
	margin: 0 4%;
}

.pages .page.active {
	left: 0;
}

.pages .page.before {
	left: -188%;
}
.pages .before.first {
	left: -94%;
}
.pages .page.after {
	left: 188%;
}
.pages .after.first {
	left: 94%;
}

.next-button {
	position: absolute;
	bottom: 44px;
	right: 5%;
}

.quote {
	display: block;
	font-size: 2em;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

.caption {
	display: block;
	font-size: 2em;
	text-align: center;
	font-weight: bold;
}

.pager {
	position: absolute;
	width: 100%;
	bottom: 0;
}