html,body {
  height:100%;
}
body{
	margin:0;
	padding:0;
	overflow: hidden;
}

a:hover{text-decoration: none;}

.container {
    background-image: url('../assets/background.jpg');
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -20px;
    background-size: cover;
}

.pages {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw; 
    height: 66.66vw; 
	max-height: 100vh;
	max-width: 150vh;
	overflow: sibile;
	margin: 0 auto;
}

.pages .page {
	transition: left 1s;
	position: absolute;
	top: 0;
	bottom: 130px;
	width: 94%;
}
.pages .page .content {
}

.pages .page.active {
	left: 3%;
}

.pages .page.before {
	left: -200%;
}
.pages .before.first {
	left: -100%%;
}
.pages .page.after {
	left: 210%;
}
.pages .after.first {
	left: 105%;
}

#next-button {
    position: absolute;
    bottom: 122px;
    right: 5%;
	transition: bottom .5s;
}
#next-button.quick-hide {
    bottom: -60px;
}

.quote {
	display: block;
	font-size: 2em;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

.caption {
	display: block;
	font-size: 2em;
	text-align: center;
	font-weight: bold;
}

.pager {
	position: absolute;
	width: 100%;
	bottom: 0;
}