#introcities {
  position: absolute;
  top: 22%;
  /* left: 20%; */
  margin: 0 155px;
}

#introcities p {
  font-size: 2em;
  font-family: 'Old Standard TT', serif;
  text-align: justify;
  font-weight: 300;
}