@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Oswald:400,700,300);

.class {
    margin-left: 40px;
}

#introcities h2 {
  font-size: 2.2em;
  font-family: 'Oswald', serif;
  text-align: left;
  font-weight: 400;
  color: #005C52;
}

#introcities h3 {
  font-size: 1.3em;
  font-family: 'Oswald',serif;
  font-weight: 400;
  color: #009587;
}

#introcities p {
    font-size:12px;
}

p span {
    font-family: 'Oswald',serif;
    font-weight: 400;
    color: #009587;
}

#introcities {
  position: absolute;
  top: 20%;
  margin: 0 155px;
  display: none;
}

#intronext {
  position: absolute;
  margin: 200px 0px;
  display: none;
}

#intronext p {
    font-size:1.5em; 
    text-align: center; 
}

#introcities p {
  font-size: 2em;
  font-family: 'sans-serif', serif;
  text-align: justify;
  font-weight: 300;
}

#counterAms {
  float: left;
  width: 28%;
  height: 20%;
  border: #009587 4px solid;
  padding: 2px;
  margin-left: 32px;
}

#counterAms:hover {
    background-color: #e5e5e5;
}

#counterAms h4, h3{
    font-family: 'Oswald',serif;
    text-align: center;
}

#counterAms h4{
    font-size: 1.6em;
    font-family: 'Oswald',serif;
    text-align: center;
    font-weight: 400;
}

#counterAms p{
    text-align: center;
    color: #009587;
    font-size: 1.3em;
}

#conclusion {
    display: none;
}

#conclusion p {
  position: absolute;
  top: 22%;
  margin: 0 155px;
  font-size: 2em;
  font-family: 'sans-serif', serif;
  text-align: justify;
  font-weight: 300;
}

#visual {
    display: none;
    -webkit-animation-delay: 0.7s;
}

#events p {
  text-align: justify;
  font-family: sans-serif;
  font-weight: 400;
}

#events h3 {
  text-align: left;
  font-size: 1.3em;
  font-family: 'Oswald',serif;
  font-weight: 400;
  color: #009587;
}

#events > div {
	
}
#events > div:hover {
	margin-left: -10px;
	padding-left: 7px;
	border-left: 3px solid #2196f3;
}
#events::-webkit-scrollbar {
    height: 12px;
    width: 6px;
    background: none;
	opacity: 0.5;
}

#events::-webkit-scrollbar-thumb {
    background: #E9E9E9;
    -webkit-border-radius: 1ex;

#events::-webkit-scrollbar-corner {
    background: #000;
}