@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Oswald:400,700,300);

h2 {
  font-size: 2.2em;
  font-family: 'Oswald', serif;
  text-align: left;
  font-weight: 400;
  color: #005C52;
}

h3 {
  font-size: 1.3em;
  font-family: 'Oswald',serif;
  font-weight: 400;
  color: #009587;
}

p {
    font-size:12px;
}

p span {
    font-family: 'Oswald',serif;
    font-weight: 400;
    color: #009587;
}

#introcities {
  position: absolute;
  top: 30%;
  /* left: 20%; */
  margin: 0 155px;
  display: none;
}

#introcities p {
  font-size: 2em;
  font-family: 'Old Standard TT', serif;
  text-align: justify;
  font-weight: 300;
}

#visual {
    display: none;
    -webkit-animation-delay: 0.7s;
}
#events > div {
	
}
#events > div:hover {
	margin-left: -10px;
	padding-left: 7px;
	border-left: 3px solid #2196f3;
}
#events::-webkit-scrollbar {
    height: 12px;
    width: 6px;
    background: none;
	opacity: 0.5;
}

#events::-webkit-scrollbar-thumb {
    background: #E9E9E9;
    -webkit-border-radius: 1ex;

#events::-webkit-scrollbar-corner {
    background: #000;
}