.c3-chart-arc text {
    font-family: 'Oswald', serif;
    font-size: 1.1em;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}
#charts {
    width: 50%;
    float: left;
}

#charts:after{
      content: "";
      position: absolute;
      bottom: 0%;
      left: 50%;
      background: #009587;
      opacity: 0.5;
      height: 100%;
      width: 2px;
}

#text {
    width: 50%;
    float: right;
}

#conclusion1, conclusion2 {
    position: absolute;
}

#conclusion1 p {
    text-align: justify;
    font-size: 1.4em;
    font-family: 'sans-serif', serif;
    padding: 25px 57px;
}

#conclusion1 h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
    text-decoration: underline;
	font-family: 'Oswald', serif;
	font-weight: 400;
	color: #005c52;
}

#conclusion2 p {
    text-align: justify;
    font-size: 1.4em;
    font-family: 'Oswald', serif;
    padding: 25px 57px;
}

#conclusion2 h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
    text-decoration: underline;
	font-family: 'Oswald', serif;
	font-weight: 400;
	color: #005c52;
}

#conclusion2 {
    display: none;
}

#source {
    position: absolute;
    bottom: 0%;
    left: 70%;
}

#source p {
    text-align:center;
    font-family: 'sans-serif', serif;
}

#charts h2 {
	font-family: 'Oswald', serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
    text-decoration: underline;
	font-weight: 400;
	color: #005c52;
}

#catAms {
    position: absolute;
    width: 26%;
    top: 12%;
    left: 10%;
	color: #009587;
}

#catLon {
    position: relative;
    margin-top: 60%;
    margin-left: 2%;
    width: 34%;
    float: left;
}

#catLon h3 {
  position: absolute;
  left: 34%;
  color: #009587;
  margin-top: 0px;
}

#catLA {
    position: relative;
    margin-top: 60%;
    margin-right: 9%;
    width: 34%;
    float: right;
}

#catLA h3 {
  position: absolute;
  left: 26%;
  margin-top: 0px;
	color: #009587;
}

#legend {
    position: absolute;
    top: 96%;
    left: 1%;
    color: #009587;
}