#events p {
    font-family: 'sans-serif', serif;
    font-size: 1.2em;
}

#events h2 {
    margin-bottom: 14px;

    font-size: 2.2em;
    font-family: 'Oswald', serif;
    text-align: left;
    font-weight: 400;
    color: #005C52;
}


#events h5 {
    font-family: 'Oswald', serif;
    margin-bottom: 40px;
}